{% extends 'base.html' %}


{% block title %}
        Edit Profile
{% endblock %}


{% block body %}
{% if user.is_authenticated %}
    
        <h1>Edit Your Profile</h1>
        <div class ="form_group">
            <form method = "POST">
                {% csrf_token %}
                <label for="first_name">First name:</label>
                <input type="text" id="first_name" name="first_name"><br><br>
                <label for="last_name">Last name:</label>
                <input type="text" id="last_name" name="last_name"><br><br>
                <label for="phone">Phone:</label>
                <input type="text" id="phone" name="phone"><br><br>
                <button class="btn btn-success">Update</button> <br>
            
            </form>
        </div>
        
        <br>
        <a href = {% url 'user-info'  %} class="btn btn-success">Information</a>
{% else %}
    Dosen't Exist!!!
{% endif %}
{% endblock %}