{% extends 'base.html' %}

{% block title %}
        Register
{% endblock %}


{% block body %}
<h1>Sign Up</h1>

<form id = "register_form" method = "POST">
    {% csrf_token %}
   <p><label>Email: </label>{{ register_form.email }}</p> 
   <p><label>First Name: </label>{{ register_form.first_name }}</p> 
   <p><label>Last Name: </label>{{ register_form.last_name }}</p>
   <p><label>Phone No.: </label>{{ register_form.phone }}</p>
   <p><label>Password: </label>{{ register_form.password1 }}</p>
   <p><label>Confirm Password: </label>{{ register_form.password2 }}</p>
    
    <button class="btn btn-success">Register</button> <br>

</form>
<br>
<a href = {% url 'login'  %} class="btn btn-success">Login</a>
{% endblock %}

<script type="text/javascript">
    $(document).on('submit','#register_form', function(event){
        event.preventDefault();
        var signup_form_id = $("#register_form");
        $.ajax({
            url: "{% url 'register' %}",
            data: signup_form_id.serialize(),
            type: "POST",
            datatype: "json",
            header: {'X-CSRFToken': '{{ csrf_token }}'},
            success: function(response){
                var success = response['success']
                if(success){
                    alert("Form valid and User created succesfully!!");

                }
                else{
                    console.log("response form with validation errors:" + response['form_html']);
                    $("#crispy-form").replaceWith(response['form_html']);
                }
            },
            failure: function(error){
                alert("Error occured while requesting Djanog url");
            }
        });
    });

</script>